@model PagedList.IPagedList<MobileShopConnection.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/css/images/aicap.png" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/css/images/amazon.png" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/css/images/sahara.png" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-4">
                    <img src="~/css/images/tienich.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="~/css/images/ngua.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="~/css/images/thietke.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"><h2> TOP 10 SẢN PHẨM BÁN CHẠY NHẤT </h2></div>
                <div class="products">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="@Url.Action("Details","Shop", new { id = @item.MaSP})"><img style="max-width:220px;max-height:220px" src="~/css/images/@item.Hinh1" /></a></div>

                                <div class="caption">
                                    <div class="name"><h3><a href="@Url.Action("Details","Shop", new { id = @item.MaSP})">@item.TenSP</a></h3></div>
                                    <div class="price"><ins>@string.Format("{0:#0,0 VNĐ}", @item.Gia)</ins></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row text-center">
            <ul class="pagination">
                @Html.PagedListPager(Model, PagedList => Url.Action("Index", new { PagedList }))
            </ul>
        </div>


        <div class="row">
            <div class="banner">
                <div class="col-sm-6">
                    <img src="~/css/images/aicap.png" />
                </div>
                <div class="col-sm-6">
                    <img src="~/css/images/amazon.png" />
                </div>
            </div>
        </div>
    </div>
</div>