@model  MobileShopConnection.SanPham

@{
    ViewBag.Title = "Details";
}


<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","Shop")">Sản Phẩm</a></li>
                    <li>@Model.TenSP</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="~/css/images/@Model.Hinh1" />
                            <div class="image-more">
                                <ul class="row">
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <img class="img-responsive" src="~/css/images/@Model.Hinh1">
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <img class="img-responsive" src="~/css/images/@Model.Hinh2">
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <img class="img-responsive" src="~/css/images/@Model.Hinh3">
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <img class="img-responsive" src="~/css/images/@Model.Hinh4">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h3>@Model.CauHinh</h3></div>
                            <div class="info">
                                <ul>
                                    <li>@Model.ManHinh</li>
                                    <li>@Model.HeDieuHanh</li>
                                    <li>@Model.CameraSau</li>
                                    <li>@Model.CameraTruoc</li>
                                    <li>@Model.RAM</li>
                                    @*<li>@Model.CPU</li>

                                        <li>@Model.BoNhoTrong</li>
                                        <li>@Model.TheNho</li>
                                        <li>@Model.TheSim</li>*@
                                    <li>@Model.DungLuongBin</li>

                                </ul>
                            </div>

                            <div class="price" style="color:#ff0000;">  <ins>@string.Format("{0:#0,0 VNĐ}", Model.Gia)</ins></div>
                            @*Gio hàng*@
                        @if (User.Identity.IsAuthenticated)
                        { 
                            using (Html.BeginForm("Them", "GioHang", FormMethod.Post))
                            {
                                <input type="hidden" name="masanpham" value="@Model.MaSP"/>
                                <input type="hidden" name="gia" value="@Model.Gia" />
                                <input type="hidden" name="tensanpham" value="@Model.TenSP" />
                                <label>Số Lượng : </label> <input class="form-inline quantity" type="number" value="1" min="1" max="500" name="soluong"/>
                                <input type="submit" class="btn btn-2" value="Thêm vào giỏ hàng" />
                                }
                        }
                        else
                        {
                           <span>Vui Lòng Đăng Nhập</span>
                        }



                                <div class="share well">
                                    <strong style="margin-right: 13px;">Share :</strong>
                                    <a href="https://twitter.com/" class="share-btn" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/" class="share-btn" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" class="share-btn" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                    </div>   
                </div>
            </div>  
        </div>
        <div class="col-md-12 ">
            @Html.Action("Index", "BinhLuan", new { MaSP = Model.MaSP })

        </div>
    </div>
</div>

