

@model IEnumerable<MobileShopConnection.LoaiSP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainPlayoutAdmin.cshtml";
}
}

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

    <h2>Quản Lý Loại Sản Phẩm</h2>

    <table>
        <tr>
            <th>Mã Loại Sản Phẩm</th>
            <th>Tên Loại Sản Phẩm</th>
            <th>Tình Trạng</th>
            <th colspan="2" text-align center>
                <a href="@Url.Action("Create","AdminLSP")"> <img src="~/css/images/add.png" /></a>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaLoaiSP</td>
                <td>@item.TenLoaiSP</td>
                <td>@item.TinhTrang</td>

                <td> <a href="@Url.Action("Edit","AdminLSP",new {id =@item.MaLoaiSP })"><img src="~/css/images/edit.png" /></a></td>
                <td> <a href="@Url.Action("XoaTam", "AdminLSP",new {id =@item.MaLoaiSP })"> <img src="~/css/images/delete.png" /></a></td>
            </tr>
        }
    </table>
</body>


